In [14]:
import pandas as pd
from IPython.display import display

In [15]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)

# PMT

In [16]:
csv_path_pmt = "/project/def-nahee/kbas/Graphnet-Applications/Playground/Datasets/summary_pmt.csv"
csv_path_i3 = "/project/def-nahee/kbas/Graphnet-Applications/Playground/Datasets/summary_i3.csv"

In [17]:
df_pmt = pd.read_csv(csv_path_pmt)

display(
    df_pmt.head(5).style.set_table_attributes(
        'style="display:block; overflow-x:auto; max-width:100%; white-space:nowrap;"'
    )
)

#### chek if  "frames_with_EPS", "frames_with_nonempty_EPS", "frames_with_EPS_NONOISE" are all same:

In [18]:

cols = [
    "frames_with_EPS",
    "frames_with_nonempty_EPS",
    "frames_with_EPS_NONOISE",

]

missing = [c for c in cols if c not in df_pmt.columns]
if missing:
    raise ValueError(f"Missing columns: {missing}")

all_same_mask = df_pmt[cols].nunique(axis=1).eq(1)
print(f"Rows where all 3 are identical: {all_same_mask.sum()} / {len(df_pmt)}")

Rows where all 3 are identical: 53390 / 53390

#### chek unique "frames_with_EPS", "frames_with_nonempty_EPS", "frames_with_EPS_NONOISE", frames_with_nonempty_EPS_NONOISE per group, and count total_pulse_count_EPS_NONOISE

In [19]:
cols_sum = [
    "frames_with_EPS",
    "frames_with_nonempty_EPS",
    "frames_with_EPS_NONOISE",
    "frames_with_nonempty_EPS_NONOISE",
    "total_pulse_count_EPS_NONOISE",
]

for c in cols_sum:
    df_pmt[c] = pd.to_numeric(df_pmt[c], errors="coerce").fillna(0)

g = (
    df_pmt.groupby("section", as_index=False)[cols_sum]
      .sum()
)

display(g)

,section,frames_with_EPS,frames_with_nonempty_EPS,frames_with_EPS_NONOISE,frames_with_nonempty_EPS_NONOISE,total_pulse_count_EPS_NONOISE
0,340String/Electron_PMT_Response,164753,164753,164753,161242,11820398
1,340String/Muon_PMT_Response,409563,409563,409563,404205,60225940
2,340String/Tau_PMT_Response,241161,241161,241161,234606,16632106
3,98String/Electron_PMT_Response,60580,60580,60580,58462,3531325
4,98String/Muon_PMT_Response,202987,202987,202987,198800,18363738
5,98String/Tau_PMT_Response,90293,90293,90293,87107,4965595

# I3

In [20]:
df_i3 = pd.read_csv(csv_path_i3)


display(
    df_i3.head(5).style.set_table_attributes(
        'style="display:block; overflow-x:auto; max-width:100%; white-space:nowrap;"'
    )
)

In [22]:
# groupby section: sums + max
cols_sum = ["frames_with_nonempty_I3Photons", "frames_with_I3Photons"]
col_max = "unique_string_id_count"

# sayısala çevir (garanti)
for c in cols_sum + [col_max]:
    df_i3[c] = pd.to_numeric(df_i3[c], errors="coerce")

g = (
    df_i3.groupby("section", as_index=False)
      .agg({
          "frames_with_I3Photons": "sum",
          "frames_with_nonempty_I3Photons": "sum",
          "unique_string_id_count": "max",
      })
)

display(
    g.style.set_table_attributes(
        'style="display:block; overflow-x:auto; max-width:100%; white-space:nowrap;"'
    )
)