In [1]:
import pandas as pd
from pathlib import Path

# /project/def-nahee/kbas içindeki dosya
path = Path("/project/def-nahee/kbas/i3photons_empty_counts.csv")

df = pd.read_csv(path)
print(df.shape)
print(df.head())

(9817, 8)
   batch_id    daq  I3Photons_empty  I3Photons_nonempty  empty_frac status  \
0         0  200.0            123.0                77.0       0.615     OK
1         1  200.0            136.0                64.0       0.680     OK
2         2  200.0            133.0                67.0       0.665     OK
3         3  200.0            142.0                58.0       0.710     OK
4         4  200.0            137.0                63.0       0.685     OK

  error                                               path
0   NaN  /project/6008051/pone_simulation/MC10-000002-n...
1   NaN  /project/6008051/pone_simulation/MC10-000002-n...
2   NaN  /project/6008051/pone_simulation/MC10-000002-n...
3   NaN  /project/6008051/pone_simulation/MC10-000002-n...
4   NaN  /project/6008051/pone_simulation/MC10-000002-n...

In [2]:
df = pd.DataFrame(df)
df

,batch_id,daq,I3Photons_empty,I3Photons_nonempty,empty_frac,status,error,path
0,0,200.0,123.0,77.0,0.615,OK,NaN,/project/6008051/pone_simulation/MC10-000002-n...
1,1,200.0,136.0,64.0,0.680,OK,NaN,/project/6008051/pone_simulation/MC10-000002-n...
2,2,200.0,133.0,67.0,0.665,OK,NaN,/project/6008051/pone_simulation/MC10-000002-n...
3,3,200.0,142.0,58.0,0.710,OK,NaN,/project/6008051/pone_simulation/MC10-000002-n...
4,4,200.0,137.0,63.0,0.685,OK,NaN,/project/6008051/pone_simulation/MC10-000002-n...
...,...,...,...,...,...,...,...,...
9812,9995,200.0,129.0,71.0,0.645,OK,NaN,/project/6008051/pone_simulation/MC10-000002-n...
9813,9996,200.0,140.0,60.0,0.700,OK,NaN,/project/6008051/pone_simulation/MC10-000002-n...
9814,9997,200.0,141.0,59.0,0.705,OK,NaN,/project/6008051/pone_simulation/MC10-000002-n...
9815,9998,200.0,154.0,46.0,0.770,OK,NaN,/project/6008051/pone_simulation/MC10-000002-n...
9816,9999,200.0,136.0,64.0,0.680,OK,NaN,/project/6008051/pone_simulation/MC10-000002-n...

In [3]:
tot_empty = df["I3Photons_empty"].sum()
tot_nonempty = df["I3Photons_nonempty"].sum()

print("Total I3Photons_empty   :", int(tot_empty))
print("Total I3Photons_nonempty:", int(tot_nonempty))
print("Total (empty+nonempty)  :", int(tot_empty + tot_nonempty))

print("Mean empty per batch   :", df["I3Photons_empty"].mean())
print("Mean nonempty per batch:", df["I3Photons_nonempty"].mean())
print("Mean empty_frac        :", df["empty_frac"].mean())

Total I3Photons_empty   : 1332886
Total I3Photons_nonempty: 593674
Total (empty+nonempty)  : 1926560
Mean empty per batch   : 137.76599483204134
Mean nonempty per batch: 61.361653746770024
Mean empty_frac        : 0.6916427667917807

In [6]:
(1-0.6916427667917807) * 200 * 9816

605366.9202343761

In [7]:
print("Total I3Photons_nonempty:", int(tot_nonempty))

Total I3Photons_nonempty: 593674